:root {
  --p1: 82, 113, 255;
  --n4: 79, 79, 79;
  --n2: 250, 250, 250;
}

/* Sidebar container */
.sidebar {
 
  }
  @media (max-width: 768px) {
.sidebar {
  transform: translateY(10px);
 border-radius: 25px;
max-height: 250px;
padding-bottom: 0px;
margin-bottom: 10px !important;
  }

  }

/* Photo de profil */
.profile-img {
  text-align: center;
  border-radius: 50%;
  border: 2px solid rgb(var(--n4));
  margin-bottom: 15px;
}
@media (max-width: 768px) {
.profile-img {
 
 margin-top: 10px;
 width: 30px;
 transform: translateX(50px);
}
.name {
   
   margin-left: 100px;
  font-size: 10px !important;

 }
 .title-text {
  font-size: 10px !important;
  margin-left: 100px;
  }
 .separator {

 max-width: 100px;
 transform: translateX(100px);
 
}
}

/* Nom et titre */
.name {
  font-size: 22px;
  font-weight: bold;
  color: rgb(var(--n4));
  margin-bottom: 5px;
}

.title-text {
  font-size: 16px;
  font-weight: 500;
  color: blue;
  margin-bottom: 15px;
}
.title-text:hover {
    color: rgb(var(--p1)); 
}


/* Séparateur */
.separator {
  width: 100%;
  border: 1px solid rgb(var(--n4));
  margin: 10px 0 20px;
}

/* Menu links */
.menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 768px) {
  .menu {
 padding: 0px;
 transform: translateY(-30px);

}
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 7px;
  border-radius: 10px;
  color: rgb(var(--n4));
  text-decoration: none;
  transition: all 0.3s;
}
@media (max-width: 768px) {
.nav-link {
transform: translateY(-50px);
gap: 2px;
max-height: 5px;
font-size: 10px;

}
.icon-s {
  width: 10px;
  height: 10px;
}
.side-res {
  max-height: 180px;
}
}


.nav-link:hover {
  padding: 10px;
  background-color: rgb(var(--p1));
  color: #fff;
  border-radius: 15px;
  font-size: 15px;
}

/* Icônes */
.icon {
  width: 20px;
  height: 20px;
}

/* Dark mode */
.dark .sidebar {
  background-color: #1f2937;
}

.dark .name,
.dark .title-text,
.dark .nav-link {
  color: #fff;
}

.dark .separator {
  border-color: #555;
}
.hire-btn {
  margin-top: auto;          /* pousse le bouton vers le bas */
  margin-bottom: 20px;       /* espace depuis le bas */
   width: 50%;
  font-size: 13px;
  text-align: center;
  padding: 8px;
  background-color: rgb(var(--p1));
  color: #fff;
  font-weight: bold;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.3s;
}

.hire-btn:hover {
  background-color: rgb(60, 90, 255); /* bleu plus foncé au hover */
 
}
@media (max-width: 768px) {
 .hire-btn {
   /* bleu plus foncé au hover */
   margin: auto;
line-height: 10px;
    max-width: 50px;
    max-height: 25px;
    font-size: 8px;
      } 
      .more-contact {
        font-size: 10px;
      }
}