.group {
    border-radius: 15px 15px 0px 0px;
}
 .li-responsive {
     font-size: 16px;
     font-weight: 600;
       
           }

@media (max-width :768px) {
.button-res {
    width: 200px;
    transform: translatex(-30px);
}
.button-2 {
    font-size: 10px ;
    max-width: 200px;
}
.list-disc {
   
}
.work-resume {
    width: 180px !important;
    margin: auto;
    transform: translateX(30px);

}
.work-transform {
    transform: translateX(-30px);
}
.foued-contact {
    transform: translateX(-30px);
}
.resume-container {
    margin: auto;
      transform: translateX(30px);
}
}
@media(max-width: 768px) {
    .para-resume {
       width: 200px !important;
    }
    .junior {
        width: 180px !important;
          transform: translatex(-30px);
    }
    .li-responsive {
        font-size: 13px !important;
      
        max-width: 180px;
           }
    .cv-fofo {
        transform: translateX(-20px);
    }
    .link-email {
        transform: translateX(15px);
    }
.icon-git {
    transform: translateX(-2px);
}

    .icon-email {
transform: translateX(5px);
    }
    
}